#body{
	margin: 10px;
}

#loginerror{
	float: left;
	color: red;
}

#textarea{
	height: 500px;
	display: inline-block;
}

#loggers{
	float: right;
	width: 200px;
	height: 500px;
	display: inline-block;
}

#inputmessage{
	width: 630px;
}