#body{
	margin: 10px;
}

#inputname{
	display: inline-block;
}

#alertsignin{
	display: none;
}

#textarea{
	width: 600px;
	height: 400px;
	display: inline-block;
}

#loggers{
	width: 200px;
	height: 400px;
	display: inline-block;
}

#sendmessage{
	width: 800px;
}

#inputmessage{
	display: inline-block;
	width: 650px;
}