

<div ng-controller="loginCTRL" class="well" style="margin: 10px">
	<div class="modal-content">
		<div class="modal-header">
			<h2>  Welcome to Chatroom 3000!</h2>
		</div>
		<div class="modal-body">
			<h3>Please log in using a uniq nickname:</h3>
			</br>
			<form class="form-inline">
				<div class="form-group">
					<label class="form-control-static">Username:</label>
				</div>
				
				<div class="form-group">
					<input id="inputname" class="form-control" type="text" autofocus="autofocus" ng-model="nick" required></input>
					
				</div>
				<button class="btn btn-success" ng-click="onLogin()">Log In</button>
			</form>
		</div>
		<div class="modal-footer">
			<label id="loginerror">{{errorMessage}}</label>
		</div>
	</div>
</div>


<!--<div ng-hide="loggedIn" id="logInModal" class="modal fade" role="dialog">
	<div ng-view></div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Log In</h4>
			</div>
			<div class="modal-body" id="modalBodySave">
				<p>Here you can log onto the server.</p>
				<form class="form-inline" id="logInForm">
					<input ng-model="nick" id="inputname" type="text" class="form-control" ng-model="username" placeholder="Enter your name here...">
					<button ng-click="login()" id="logInButton" type="button" class="btn btn-info">Log In</button>
				</form>
			</div>
			<div class="modal-footer">
				<div class="alert alert-danger" role="alert" id="alertsignin">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only">Error:</span>
				  The username is not available.
				</div>
			</div>
		</div>
	</div>
</div>

<ul>
    <li ng-reapeat="room in rooms">
    	{{room.topic}}
    </li>
</ul>-->

        
