<h2>welcome to chat!</h2>
<div ng-controller="loginCTRL">
	<input type="text" ng-model="nick"></input>
	<button ng-click="login()">login</button>
</div>


<!--<div ng-hide="loggedIn" id="logInModal" class="modal fade" role="dialog">
	<div ng-view></div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Log In</h4>
			</div>
			<div class="modal-body" id="modalBodySave">
				<p>Here you can log onto the server.</p>
				<form class="form-inline" id="logInForm">
					<input ng-model="nick" id="inputname" type="text" class="form-control" ng-model="username" placeholder="Enter your name here...">
					<button ng-click="login()" id="logInButton" type="button" class="btn btn-info">Log In</button>
				</form>
			</div>
			<div class="modal-footer">
				<div class="alert alert-danger" role="alert" id="alertsignin">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only">Error:</span>
				  The username is not available.
				</div>
			</div>
		</div>
	</div>
</div>

<ul>
    <li ng-reapeat="room in rooms">
    	{{room.topic}}
    </li>
</ul>-->

        
