<div ng-controller="chatroomCTRL" style="margin: 10px">
	<div class="well col-md-9" id="textarea">		
		<div class="modal-content">
			<div class="modal-header">
				<h2>You are in {{roomname}}!</h2>
				<!--<button ng-click="onRoom()">OUT</button>-->
			</div>
			<div class="modal-body" style="height: 300px">
				<div ng-repeat="text in texters">
					<h4 id="messages" style="display: inline">{{text.nick}}:</h4>
					<label>"{{text.message}}"</label>
				</div>
			</div>
			<div class="modal-footer" style="text-align: left">
				<form class="form-inline">
					<div class="form-group">
						<input ng-model="message" id="inputmessage" type="text" class="form-control" ng-model="username" placeholder="Enter messsage here...">
					</div>
					<button ng-click="sendMessage()" id="logInButton" type="button" class="btn btn-success">Send</button>
				</form>
			</div>
		</div>
	</div>
	<div class="well col-md-9" id="loggers">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Loggers: </h4>
			</div>
			<div class="modal-body" style="height: 325px">
				<ul>
				    <li ng-repeat="user in users">{{user}}</li>
				</ul>
			</div>
			<div class="modal-footer" style="text-align: center">
				<button class="btn btn-danger">Leave Room</button>
			</div>
		</div>
	</div>
</div>