<h2 ng->welcome to roomlist!</h2>

<div ng-controller="roomlistCTRL">
	<label>Available rooms:</label>
	<ul>
	    <li ng-repeat="room in rooms">
	    	<a ng-click="joinRoomEx(room)" ng-href="#/room/{{room}}">{{room}}</a>
	    </li>
	</ul>

	<div>
		<form>
			<input type="text" ng-model="newroom" required></input>
			<button ng-click="joinRoom()" >Join</button>
		</form>
	</div>
	<div>
		<label>Users:</label>
		<ul>
		    <li ng-repeat="user in users">
		    	{{user}}
		    </li>
		</ul>
	</div>
</div>